$--colorGlobal: #41b294;
$--colorSecondary1: #f6ba35;
$--colorText: #252525;
@media all and ( max-width: 1023px) {
    
}

.tabsInfo {
    color: $--colorGlobal;
    .titleInfo {
        font-weight: bold;
    }
}
