$--colorGlobal: #41b294;
$--colorSecondary1: #f6ba35;
$--colorText: #252525;
$--colorTextCard: #8c8c8c;

.infoCourse {
    .title {
        font-size: 26px;
    }
    .courseInfo {
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        gap: 40px;
        > div {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
            }
            svg {
                font-size: 40px;
                color: $--colorGlobal;
            }
            > div {
                margin-left: 6px;
            }
            p:nth-of-type(1) {
                font-size: 14px;
                color: #8c8c8c;
            }
        }
        .star {
            display: block;
            span {
                display: flex;
                align-items: center;
                svg {
                    font-size: 20px;
                    color: $--colorSecondary1;
                }
                .textStar {
                    font-weight: bold;
                    font-size: 20px;
                    margin-left: 4px;
                }
            }
        }
    }
    .description {
        text-align: justify;
        border-bottom: 1px solid #d0d0d0;
        line-height: 1.4;
        padding-bottom: 20px;
        font-size: 18px;
        color: $--colorTextCard;
    }
    .boxCourseLearn {
        padding: 20px 0;
        h4 {
            font-size: 20px;
            padding: 10px 0;
        }
        > div {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 30px;
            ul {
                list-style: none;
                li {
                    padding: 5px 0;
                    line-height: 1.4;
                    svg {
                        margin-right: 5px;
                        color: $--colorSecondary1;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .courseContent {
        h4 {
            font-size: 20px;
        }
        .courseItem {
            margin-top: 30px;
            .sectionItem {
                padding: 10px;
                margin-bottom: 20px;
                background-color: #f5f5f5;
                display: flex;
                align-items: center;
                span {
                    text-transform: uppercase;
                    margin-right: 20px;
                    font-size: 22px;
                }
            }
            p {
                padding-left: 10px;
            }
            .lessonContainer {
                .lessonContent {
                    padding: 12px 10px;
                    border-bottom: 1px solid #f5f5f5;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 16px;
                    > div {
                        display: flex;
                        align-items: center;
                        svg {
                            margin-right: 8px;
                            color: $--colorGlobal;
                        }
                        span {
                            color: $--colorTextCard;
                        }
                    }
                }
            }
        }
    }
}

@media all and ( max-width: 640px) {
    .infoCourse {
        font-size: 14px;
        .title {
            font-size: 22px;
        }
        .courseInfo {
            grid-template-columns: repeat(1,1fr);
        }
        .description {
            font-size: 14px;
        }
        .courseContent {
            .courseItem {
                .sectionItem {
                    span {
                        font-size: 18px;
                    }
                }
                .lessonContainer {
                    .lessonContent {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
