$--colorGlobal: #41b294;
$--colorSecondary1: #f6ba35;
$--colorText: #252525;

.item {
    box-shadow: 0 0 10px 4px rgba(0,0,0,.2);
    background-color: #fff;
    border-radius: 4px;
    transition: all .5s;
    position: relative;
    max-width: 280px;
    &:hover {
        transform: translateY(-6px);
    }
    .sale {
        position: absolute;
        left: -5px;
        top: 5px;
        z-index: 5;
        color: #fff;
        background-color: red;
        padding: 4px 8px;
        height: 30px;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: -10px;
            border-bottom: 10px solid transparent;
            border-right: 5px solid red;
            filter: brightness(.8);
        }
        &::after {
            position: absolute;
            content: "";
            left: 100%;
            height: 0;
            top: 0;
            border-right: 12px solid transparent;
            border-top: 15px solid red;
            border-bottom: 15px solid red;
        }
    }
    .imageCourse {
        position: relative;
        img {
            border-radius: 4px;
            height: 185px;
            min-height: 185px;
        }
        span {
            position: absolute;
            background-color: $--colorGlobal;
            bottom: 0;
            left: 0;
            padding: 2px 10px;
            color: #fff;
            transform: translateY(50%);
        }
    }
    .body {
        padding: 20px;
        h3 {
            font-size: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
            min-height: 38px;
        }
        .itemIcon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #8c8c8c;
            > div {
                display: flex;
                align-items: center;
                span {
                    margin-left: 4px;
                }
            }
            div:nth-of-type(1) {
                svg {
                    color: #f5c002;
                }
            }
            div:nth-of-type(2) {
                svg {
                    color: #f06f68;
                }
            }
            div:nth-of-type(3) {
                svg {
                    color: #65c9ff;
                }
            }
        }
    }
    .footer {
        border-top: 1px solid rgba(0,0,0,.125);
        padding: 8px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .titleMaker {
            display: flex;
            align-items: center;
            .imageMaker {
                height: 40px;
                width: 40px;
                padding: 2px;
                border-color: #f6ba35 transparent;
                border-left: 1px solid transparent;
                border-bottom: 1px solid $--colorSecondary1;
                border-right: 1px solid transparent;
                border-top: 1px solid $--colorSecondary1;
                border-radius: 50%;
            }
            .nameMaker {
                margin-left: 6px;
                color: #8c8c8c;
            }
        }
        .price {
            p:nth-of-type(1) {
                font-size: 12px;
                color: #8c8c8c;
                text-decoration: line-through;
            }
            p:nth-of-type(2) {
                font-weight: 600;
                color: $--colorGlobal;
                display: flex;
                align-items: center;
                svg {
                    color: red;
                    font-size: 20px;
                    margin-left: 2px;
                }
            }
        }
        .reviews {
            color: $--colorSecondary1;
            span:nth-of-type(1) {
                font-weight: 600;
            }
            span:nth-of-type(2) {
                font-size: 12px;
                color: #8c8c8c;
                margin-left: 2px;
                
            }
        }
    }
}



@media all and ( max-width: 1023px) {
    
}