$--colorGlobal: #41b294;
$--colorSecondary1: #f6ba35;
$--colorText: #252525;


.courseUSer {
    color: $--colorText;
    .courseUSerTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        h3 {
            font-size: 18px;
            text-transform: uppercase;
        }
        .search {
            margin-left: 12px;
            > span {
                position: relative;
                input {
                    border-radius: 6px;
                    padding-right: 30px;
                    background: #eee;
                    font-size: 18px;
                    border: 2px solid transparent;
                    &:hover {
                        border-color: $--colorGlobal;
                    }
                    &:focus {
                        border-color: $--colorGlobal;
                    }
                }
                > span {
                    inset-inline-start: auto !important;
                    background-color: transparent;
                    position: absolute;
                    right: 2px;
                    width: auto;
                    top: 5px;
                    z-index: 1;
                }
                button {
                    background-color: transparent;
                    border: none;
                    font-size: 18px;
                    &:hover {
                        color: $--colorGlobal !important;
                    }
                }
            }
        }
    }
    .itemMyCourse {
        display: flex;
        align-items: center;
        margin: 0 -10px 30px -10px;
        font-size: 16px;
        .imageCourse {
            width: 25%;
            padding: 0 10px;
            img {
                height: 100%;
                object-fit: contain;
            }
        }
        .courseContent {
            width: 50%;
            padding: 0 10px;
            h4 {
                font-size: 16px;
            }
            .courseDes {
                font-size: 14px;
                margin: 5px 0;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .iconTime {
                display: flex;
                align-items: center;
                > div {
                    display: flex;
                    align-items: center;
                    padding-right: 16px;
                    svg {
                        margin-right: 6px;
                    }
                }
                > div:nth-child(1) svg {
                    color: #f5c002;
                }
                > div:nth-child(2) svg {
                    color: #f06f68;
                }
                > div:nth-child(3) svg {
                    color: #65c9ff;
                }
            }
            .iconStar {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: $--colorSecondary1;
                margin: 5px 0;
            }
            .infoMaker {
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 8px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
        .btnCancel {
            width: 25%;
            padding: 0 10px;
            display: flex;
            justify-content: flex-end;
        }
    }
}
@media all and ( max-width: 768px) {
    .courseUSer {
        .itemMyCourse {
            flex-direction: column;
            .imageCourse,
            .courseContent,
            .btnCancel {
                width: 100%;
                max-width: 600px;
                margin-bottom: 12px;
            }
            .btnCancel {
            justify-content: flex-start;
            }
        }
    }
}
@media all and ( max-width: 640px) {
    .courseUSer {
        .courseUSerTitle {
            .search {
                display: none;
            }
        }
    }
}