$--colorGlobal: #41b294;
$--colorSecondary1: #f6ba35;
$--colorText: #252525;
@media all and ( max-width: 1023px) {
    
}

.filterSearch {
    h2 {
        padding-bottom: 16px;
        font-size: 25px;
    }
    .filterItem {
        margin-bottom: 10px;
        h4 {
            padding-bottom: 10px;
            font-size: 20px;
        }
        ul {
            list-style: none;
            padding-left: 15px;
            li {
                padding: 6px 0;
                .BoxSearch {
                    display: inline-block;
                    position: relative;
                    padding-left: 35px;
                    height: 25px;
                    line-height: 25px;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                        &:checked ~ .checkMark {
                            background-color: $--colorGlobal;
                        }
                        &:checked ~ .checkMark svg {
                            display: block;
                        }
                    }
                    cursor: pointer;
                    font-size: 16px;
                    .checkMark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 25px;
                        width: 25px;
                        background-color: #fff;
                        border: 2px solid $--colorGlobal;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            color: #fff;
                            display: none;
                            animation: zoomI .3s ease-in-out;
                        }
                    }
                }
            }
        }
        &:nth-child(4) {
            ul {
                li {
                    .BoxSearch {
                        >svg {
                            color: $--colorSecondary1;
                            display: inline-block   ;
                        }
                    }
                }
            }
        }
    }
}

@keyframes zoomI {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}