$--colorGlobal: #41b294;
$--colorSecondary1: #f6ba35;
$--colorText: #252525;


.btnStyle {
    padding: 8px 6px;
    font-weight: bold;
    color: $--colorGlobal;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .5s;
    background-color: #fff;
    border: 1px solid $--colorGlobal;
    cursor: pointer;
    &:hover {
        transform: scale(.95);
        color: #fff;
        background-color: $--colorGlobal;
    }
}